FMA_DOMAIN=example.com
FMA_S3_ENDPOINT=https://s3.example.com
FMA_S3_BUCKET=fma
FMA_S3_REGION=us-east-1
FMA_S3_ACCESS_KEY_ID=
FMA_S3_SECRET_ACCESS_KEY=
FMA_S3_SESSION_TOKEN=
FMA_CERT_KEY=cert.pem
FMA_KEY_KEY=key.pem
FMA_OUTBOUND_MODE=disabled
LOG_LEVEL=info
