[Unit]
Description=fma SMTP, POP3 and IMAP server
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
EnvironmentFile=@@CONFIG_DIR@@/s3.env
EnvironmentFile=@@CONFIG_DIR@@/outbound.env
ExecStart=@@BINDIR@@/fma -cert @@CERT_KEY@@ -key @@KEY_KEY@@ -smtp 127.0.0.1:@@SMTP_PORT@@ -submission 127.0.0.1:@@SUBMISSION_PORT@@ -smtps 127.0.0.1:@@SMTPS_PORT@@ -pop3 127.0.0.1:@@POP3_PORT@@ -pop3s 127.0.0.1:@@POP3S_PORT@@ -imap 127.0.0.1:@@IMAP_PORT@@ -imaps 127.0.0.1:@@IMAPS_PORT@@ -http 127.0.0.1:@@HTTP_PORT@@ -queue-retry @@QUEUE_RETRY@@
WorkingDirectory=/
Restart=on-failure
RestartSec=5
TimeoutStopSec=120
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=@@WANTED_BY@@
