LOG_LEVEL=@@LOG_LEVEL_Q@@
FMA_OUTBOUND_MODE=@@OUTBOUND_Q@@
FMA_RELAY_ADDR=@@RELAY_ADDR_Q@@
FMA_RELAY_TLS=@@RELAY_TLS_Q@@
FMA_RELAY_USER=@@RELAY_USER_Q@@
FMA_RELAY_PASSWORD=@@RELAY_PASSWORD_Q@@
FMA_RELAY_PASSWORD_FILE=@@RELAY_PASSWORD_KEY_Q@@
FMA_RELAY_CA_FILE=@@RELAY_CA_KEY_Q@@
